.forum {

    .no-threads {
        div {
            display: inline-block;
            a {
                cursor: pointer;
            }
        }
    }

    .thread-item {
        .thread-info {
            font-size: 12px;
            text-align: right;
        }
    }
}
