@import './components/_all.scss';

body {
	font-family: 'Exo 2', sans-serif;
}

a {
	cursor: pointer;
	color: $main-color;
}

input:focus {
	border-bottom: 1px solid $main-color !important;
    -webkit-box-shadow: 0 1px 0 0 $main-color !important;
    box-shadow: 0 1px 0 0 $main-color !important;
}

.active {
	color: $main-color !important;
}

.floatRight {
	float: right;
}

.hidden {
	display: none;
}

strong {
	font-weight: bold;
}